# venv
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type checker / linter
.mypy_cache/
.ruff_cache/
.pyre/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/